{% extends 'partials/base.html.twig' %}

{% block content %}
    {{ content }}
    {% if grav.twig.items|length > 0 %}
        <ul style="list-style: none;">
       {% for item in grav.twig.items %}
            <li class="ce_item_line" data-filename="{{ item.route }}" data-selected="false">
                <span class="ce_item_name">{{ item.name }}</span>{{"PLUGIN_CONTENT_EDIT.WITH"|t}}
                <span class="ce_item_count">{{ item.count }}</span>{% if item.count == 1 %}{{"PLUGIN_CONTENT_EDIT.ED_SING"|t}}{% else %}{{"PLUGIN_CONTENT_EDIT.ED_PLUR"|t}}{% endif %}
            </li>
       {% endfor %}
       </ul>
       <div id="ce_editing_container" style="display: none"></div>
     <script>
         $(document).ready(function() {
            $('.ce_item_line').click(function() {
                if ( $(this).attr('data-selected') == 'true' ) {
                    $(this).attr('data-selected','false');
                    $('#ce_editing_container').html('').css('display','none');
                } else {
                    $('.ce_item_line').each(function(){$(this).attr('data-selected','false');});
                    $(this).attr('data-selected','true');
                    var data = {
                        ce_data_post: true,
                        action: 'ceReviewEdits',
                        file: $(this).attr('data-filename')
                    };
                    $.ajax({
                        type: "POST",
                        url: '{{ base_url_absolute ~ page.route }}',
                        data: data,
                        success: function( response ) {
                            $('#ce_editing_container').html(response).css('display','inherit');
                        }
                    });
                }
            });
         });
    </script>
    {% else %}
        <p>No editing done yet</p>
    {% endif %}
{% endblock %}
